@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-extensions/bulma-checkradio/src/sass/index.sass";


.navbar-center {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
}
.text-is-right{
  text-align: right;
}
.text-is-center{
  text-align: center;
}

