* {
  box-sizing: border-box; }

@font-face {
  font-family: 'GT Walsheim Bold';
  src: url("/project/extension/fonts/GTWalsheimPro-Bold.woff2") format("woff2"), url("/project/extension/fonts/GTWalsheimPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim Pro Black';
  src: url("/project/extension/fonts/GTWalsheimPro-Black.woff2") format("woff2"), url("/project/extension/fonts/GTWalsheimPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim Medium';
  src: url("/project/extension/fonts/GTWalsheimPro-Medium.woff2") format("woff2"), url("/project/extension/fonts/GTWalsheimPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim UltraBold';
  src: url("/project/extension/fonts/GTWalsheimPro-UltraBold.woff2") format("woff2"), url("/project/extension/fonts/GTWalsheimPro-UltraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

/* Scroll Bar */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px; }

body {
  margin: 0;
  padding: 0;
  font-family: gt walsheim pro,sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none;
  color: inherit; }

.header__top {
  position: relative;
  z-index: 2; }

.header__top nav {
  align-items: center; }

.box {
  padding: 0;
  margin: 0; }

.header__menu {
  position: relative;
  z-index: 5; }

.box:not(:last-child) {
  margin-bottom: 0; }

.navbar-item.is-mega {
  position: static; }
  .navbar-item.is-mega .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem; }

.navbar-center {
  justify-content: center;
  margin: 0 auto; }

.album {
  margin-top: 20px; }

.social-media__icons {
  display: flex; }

.carousel__hr {
  margin: 10px 0;
  border: 1px dashed #3A69D3; }

.social-media__icons a {
  max-width: 15%;
  padding: 0 20px; }

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: .3s; }

.item:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.owl-stage {
  display: flex;
  align-items: center; }
  .owl-stage img {
    max-width: 75%; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 45%;
  background: transparent; }

.owl-carousel .owl-nav .owl-prev {
  background: transparent;
  left: 0px;
  outline: none;
  transition: .3s; }

.owl-carousel .owl-nav .owl-next {
  background: transparent;
  right: 0px;
  outline: none;
  transition: .3s; }

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 10px; }

.owl-carousel .owl-nav [class*='owl-']:hover {
  background: transparent;
  color: #3A69D3;
  text-decoration: none;
  outline: none; }

.owl-carousel .owl-dots .owl-dot span {
  background: transparent; }

.owl-carousel .owl-dots .owl-dot:hover span {
  background: transparent; }

.owl-carousel .owl-dots .owl-dot.active span {
  background: transparent; }

.owl-carousel .owl-nav {
  margin-top: 0; }

.is-background-image {
  background: url(../../img/baby-smile-4.jpg);
  background-size: cover;
  background-position-y: center; }

.contactus__container {
  background: #3A69D3; }

.no-box-shadow {
  box-shadow: none; }

.child-categories__list li {
  padding: 5px 0; }

.child-categories__list li::before {
  padding: 0 15px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105"; }

.expand-button {
  cursor: pointer;
  display: block;
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  margin-top: 15px; }
  .expand-button:hover, .expand-button:active, .expand-button:focus {
    outline: none; }

.special-text {
  position: relative;
  max-height: 200px;
  overflow: hidden;
  transition: max-height 1s ease; }
  .special-text.-expanded {
    max-height: 100vh; }

.special-text:not(.-expanded)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3)); }
